<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<table
role="presentation"
border="0"
cellpadding="0"
cellspacing="0"
style="background-color: #f6f6f6; border-collapse: separate; width: 100%; height: 100%;"
>
<tbody>
  <tr>
    <td>
      <center>
        <table
          role="presentation"
          cellpadding="20"
          style="
            font-family: sans-serif;
            font-size: 14px;
            vertical-align: top;
            display: block;
            margin: 0 auto;
            max-width: 680px;
            padding: 10px;
            width: 680px;
                          font-family: 'Noto Sans KR', sans-serif;
          "
        >
          <tbody>
            <tr>
              <td>
                <table
                  role="presentation"
                  style="
                    background: #ffffff;
                    background: #ffffff;
                    border-collapse: collapse;
                    width: 100%;
                    border-radius: 3px;
                  "
                >
                  <tbody>
                    <tr>
                      <td style="padding: 0 20px 20px 20px">
                        <table
                          role="presentation"
                          cellpadding="0"
                          cellspacing="0"
                          border="0"
                          style="width: 100%"
                        >
                          <tbody>
                            <tr>
                              <td height="30"></td>
                            </tr>
                                                          <tr>
                              <td
                                style="
                                  color: #3563E9;
                                  font-size: 42px;
                                  vertical-align: top;
                                  padding: 0 0 10px 0;
                                                                      font-family: 'Work Sans', sans-serif;
                                                                      font-weight: 700;
                                "
                              >
                                <center>
                                  Bluehat Games
                                </center>
                              </td>
                            </tr>
                                                          <tr>
                              <td
                                style="
                                  color: #6D727B;
                                  font-size: 24px;
                                  vertical-align: top;
                                  padding: 0 0 30px 0;
                                                                      font-family: 'Work Sans', sans-serif;
                                                                      font-weight: 700;
                                "
                              >
                                <center>
                                  FIND YOUR BLUEHAT
                                </center>
                              </td>
                            </tr>
                            <tr>
                              <td
                                style="
                                  color: #4e4e4e;
                                  font-size: 30px;
                                  vertical-align: top;
                                  padding: 0 0 20px 0;
                                                                      font-family: 'Noto Sans KR', sans-serif;
                                                                      font-weight: 800;
                                "
                              >
                                <center>
                                  이메일을 인증을 완료해주세요
                                </center>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p
                                  style="
                                    color: #4e4e4e;
                                    font-family: 'Noto Sans KR', sans-serif;
                                                                          font-weight: 400;
                                    font-size: 14px;
                                    font-weight: normal;
                                    margin: 0;
                                    margin-bottom: 10px;
                                  "
                                ></p>
                                <p>
                                                                      <center>
                                                                      🎩 안녕하세요. Bluehat Games의
                                  회원이 되신걸 환영합니다. </br></br>
                                                                      작은 동물 친구들로 마을을 먹어치우는 귀엽고 무시무시한 게임입니다. </br>
                                                                      갖고 있는 동물을 합성하고, 다양한 모자 아이템으로 개성을 표현할 수 있어요. </br>
                                                                      하나뿐인 내 <b>동물들을 NFT로 소유</b>하고 OpenSea에서 확인해보세요.
                                                                  </br>
                                                              </br>
                                  아래 버튼을 눌러 이메일
                                  인증을 완료하고 <b style="color:#3563E9;">파란 모자의
                                    여정</b>에 참여해보세요!<br />
                                                                  </center>
                                  <br />  
                                </p>
                                <br />
                                <table
                                  border="0"
                                  cellspacing="0"
                                  cellpadding="0"
                                                                      width="100%"
                                >
                                  <tbody>
                                    <tr>
                                      <td>
                                        <center>
                                          <table
                                            border="0"
                                            cellpadding="0"
                                            cellspacing="0"
                                          >
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <div>
                                                    <a
                                                      href=<%=link%>
                                                      style="
                                                        background-color: #3563E9;
                                                        border-radius: 26px;
                                                        color: #ffffff;
                                                        display: inline-block;
                                                        font-family: sans-serif;
                                                        font-size: 13px;
                                                        letter-spacing: 0.1em;
                                                        font-weight: bold;
                                                        line-height: 36px;
                                                        text-align: center;
                                                        text-decoration: none;
                                                        padding: 8px
                                                          30px
                                                          8px
                                                          30px;
                                                      "
                                                      target="_blank"
                                                      >VERIFY
                                                      YOUR
                                                      CONTACT
                                                      INFO</a
                                                    >
                                                  </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </center>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <p></p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
                          <tr>
                              <td align="center" valign="top" style="font-family:Arial,Tahoma,sans-serif;color:#404040;font-size:13px;font-weight:400;line-height:17px;margin:0;padding:30px 0px 30px 0px;text-align:center">
                                  <p style="margin-top:20px;margin-bottom:20px;margin-left:15px;margin-right:15px">Looking for additional support or want to join the conversation? Visit the <a href="http://bluehat.games" style="font-family:Arial,Tahoma,sans-serif;color:#404040;font-size:13px;text-decoration:underline" target="_blank" >Bluehat Games</a>.</p>
                                  <p style="margin-top:0px;margin-bottom:20px"><a href="#" style="font-family:Arial,Tahoma,sans-serif;color:#404040;font-size:13px;text-decoration:none" target="_blank">Contact Us</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#" style="font-family:Arial,Tahoma,sans-serif;color:#404040;font-size:13px;text-decoration:none" target="_blank">Unsubscribe</a></p>
                                  <p style="margin-top:0px;margin-bottom:0px">©2022 Bluehat Games.</p>
                              </td>
                          </tr>
          </tbody>
        </table>
      </center>
    </td>
  </tr>
</tbody>
</table>