<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  style="
    background-color: #f6f6f6;
    border-collapse: separate;
    width: 100%;
    height: 100%;
  "
>
  <tbody>
    <tr>
      <td>
        <center>
          <table
            role="presentation"
            cellpadding="20"
            style="
              font-family: sans-serif;
              font-size: 14px;
              vertical-align: top;
              display: block;
              margin: 0 auto;
              max-width: 680px;
              padding: 10px;
              width: 680px;
            "
          >
            <tbody>
              <tr>
                <td>
                  <table
                    role="presentation"
                    style="
                      background: #ffffff;
                      background: #ffffff;
                      border-collapse: collapse;
                      width: 100%;
                      border-radius: 3px;
                    "
                  >
                    <tbody>
                      <tr>
                        <td style="padding: 0 20px 20px 20px">
                          <table
                            role="presentation"
                            cellpadding="0"
                            cellspacing="0"
                            border="0"
                            style="width: 100%"
                          >
                            <tbody>
                              <tr>
                                <td height="30"></td>
                              </tr>
                              <tr>
                                <td
                                  style="
                                    color: #4e4e4e;
                                    font-family: Stag, Georgia, serif;
                                    font-size: 30px;
                                    vertical-align: top;
                                    padding: 0 0 20px 0;
                                  "
                                >
                                  <center>
                                    Verify Your Contact Information
                                  </center>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p
                                    style="
                                      color: #4e4e4e;
                                      font-family: sans-serif;
                                      font-size: 14px;
                                      font-weight: normal;
                                      margin: 0;
                                      margin-bottom: 15px;
                                    "
                                  ></p>
                                  <p>
                                    Use the above verification code to validate
                                    the email address associated with your
                                    account. Bluehat Games requires that you
                                    validate new contact information within 1
                                    days or the account will be disabled.<br />
                                    <br />
                                  </p>
                                  <br />
                                  <br />
                                  <table
                                    border="0"
                                    cellspacing="0"
                                    cellpadding="0"
                                    width="530"
                                  >
                                    <tbody>
                                      <tr>
                                        <td>
                                          <center>
                                            <table
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td>
                                                    <div>
                                                      <a
                                                        href= <%=link%>
                                                        style="
                                                          background-color: #6eda78;
                                                          border-radius: 26px;
                                                          color: #ffffff;
                                                          display: inline-block;
                                                          font-family: sans-serif;
                                                          font-size: 13px;
                                                          letter-spacing: 0.1em;
                                                          font-weight: bold;
                                                          line-height: 36px;
                                                          text-align: center;
                                                          text-decoration: none;
                                                          padding: 8px 30px 8px
                                                            30px;
                                                        "
                                                        target="_blank"
                                                        >VERIFY YOUR CONTACT
                                                        INFO</a
                                                      >
                                                    </div>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </center>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p></p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </td>
    </tr>
  </tbody>
</table>
